.container {
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.sidebarLoading {
  background-image: url(/userbg2.png);
  background-size: contain;
  background-position: center;
  width: 300px;
}

@media (max-width: 768px) {
  .sidebarLoading {
    width: 100%;
  }
}

.musicPlayer {
  max-width: 700px;
  margin-top: var(--mantine-spacing-md);
}
