.container {
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.bandBackground {
  position: relative;
  width: 300px;
}

.bandBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/cloud-bg2.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

@media (max-width: 768px) {
  .bandBackground {
    width: 100%;
  }
}

.musicPlayer {
  max-width: 700px;
  margin-top: var(--mantine-spacing-md);
}
