.container {
  position: relative;
  width: 300px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/cloud-bg2.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
