.container {
  border-left: 2px solid var(--mantine-color-grape-3);
  border-right: 2px solid var(--mantine-color-grape-3);
}

@media (max-width: 768px) {
  .container {
    border-left: none;
    border-right: none;
  }
}

.header {
  background-color: var(--mantine-color-grape-0);
  border-bottom: 2px solid var(--mantine-color-grape-3);
}

.headerLink {
  text-decoration: none;
  cursor: pointer;
}

.userBackground {
  background-image: url(/userbg2.png);
  background-size: contain;
  background-position: center;
}