.artworkLink {
  display: block;
  height: 48px;
  flex-shrink: 0;
}

.artwork {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.artworkPlaceholder {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--mantine-color-grape-3);
}

.userInfo {
  border-bottom: 2px solid var(--mantine-color-grape-3);
}

.authorName,
.songName {
  font-family: var(--mantine-font-family-headings);
}
