.wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--mantine-color-grape-6);
  border: 2px solid var(--mantine-color-grape-2);
}

.blend {
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.1);
}
