.container {
  position: relative;
  width: 300px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/cloud-bg2.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.profilePhotoWrapper {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--mantine-color-grape-6);
  border: 2px solid var(--mantine-color-grape-2);
}

.profilePhotoBlend {
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.profilePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.1);
}
