/* .statsContainer {
  padding: var(--mantine-spacing-xs) 0;
} */

.statButton {
  transition: opacity 0.15s ease;
}

.statButton:hover {
  opacity: 0.7;
}

.userItem {
  display: block;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 0.15s ease;
}

.userItem:hover {
  background-color: var(--mantine-color-gray-1);
}
