.container {
  position: relative;
  width: 300px;
  background-color: var(--mantine-color-grape-0);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.profilePhotoWrapper {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--mantine-color-grape-6);
  border: 2px solid var(--mantine-color-grape-2);
}

.profilePhotoBlend {
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.profilePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.1);
}

.userMenu {
  border-top: 2px solid var(--mantine-color-grape-3);
  padding-top: var(--mantine-spacing-sm);
}

@media (max-width: 768px) {
  .userMenu {
    display: none !important;
  }
}
