.container {
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.header {
  background-color: var(--mantine-color-grape-0);
  border-bottom: 2px solid var(--mantine-color-grape-3);
}

.headerLink {
  text-decoration: none;
  cursor: pointer;
}
