.container {
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.header {
  background-color: var(--mantine-color-grape-0);
  border-bottom: 2px solid var(--mantine-color-grape-3);
}

.headerLink {
  text-decoration: none;
  cursor: pointer;
}

.userBackground {
  background-image: url(/userbg2.png);
  background-size: contain;
  background-position: center;
}

.profilePhotoWrapper {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--mantine-color-grape-6);
  border: 2px solid var(--mantine-color-grape-2);
}

.profilePhotoBlend {
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.profilePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.1);
}
